/* Tehnyt: Jere, Päivitetty: 10.10.2022 */
/* Muokattu 9.10.2022 ^Juho */
/*Muokannut Atte 10.10.2022*/
body {
	background-color: #439043;
}
header {
	background-image: url(../img/headeri.jpg);
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 225px;
	justify-content: center;
	text-align: center;
	background-color: #2ab7ca;
	padding: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
h1 {
	font-size: 42px;
	border-radius: 15px;
	padding: 5px;
	background: rgba(95, 124, 241, 0.4);
	display: inline-block;
	margin: 0;
	position: relative;
	top: 70%;
	color: black;
}
h3 {
	padding: 10px;
	border-radius: 15px;
	margin-top: 15px;
	max-width: 100%;
	margin-bottom: 0;
	background: rgb(95, 124, 241);
}

/* NAV tagien muokkaukset alkaa*/
nav {
	text-align: center;
	background-color: #f6f4f3;
	padding: 25px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
nav a {
	background-color: #fe4a49;
	padding: 15px;
	margin: 10px;
	border-radius: 5px;
	color: #251605;
}
a:hover {
	background-color: #ff8356;
}
/* NAV muokkaukset loppuu */

/* DIV muokkaukset alkaa */

div {
	display: flex;
	flex-wrap: wrap;
	margin: 15px;
	background-color: #f6f4f3;
	border-radius: 15px;
	font-size: larger;
}
.teksti {
	width: 30%;
	justify-content: center;
	text-align: justify;
}
div p {
	margin: 20px;
	line-height: 1.5;
	font-size: larger;
}
div img {
	margin: 20px;
	max-width: 75%;
	max-height: 75%;
}
#video {
	background: none;
	justify-content: center;
}
/*DIV muokkaukset loppuu*/

video {
	background-color: #f6f4f3;
	padding: 10px;
	border-radius: 15px;
	max-width: 85%;
}
section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (max-width: 1330px) and (min-width: 768px) {
	div {
		width: 100%;
		margin: 10px;
	}
	.teksti {
		width: 45%;
	}
	video {
		max-height: 100%;
		margin: 10px;
		max-width: 85%;
	}
	header {
		height: 175px;
	}
	h1 {
		margin: 0;
		position: relative;
		top: 60%;
	}
}
@media only screen and (max-width: 768px) {
	div {
		width: 100%;
		margin: 10px;
	}
	.teksti {
		width: 100%;
	}
	video {
		margin: 10px;
		max-height: 720px;
		max-width: 85%;
	}
	nav {
		display: flex;
		flex-direction: column;
		padding: 5px;
	}
	nav a {
		margin: 2px;
		padding: 5px;
	}
	header {
		height: 150px;
	}
	h1 {
		margin: 0;
		position: relative;
		top: 30%;
	}
}
