/* Tehnyt: Jere, Päivitetty: 3.10.2022 */
body {
	background-color: #74bd1b;
}
header {
	text-align: center;
	background-color: #00a7e1;
	padding: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
nav {
	text-align: center;
	background-color: #f6f4f3;
	padding: 10px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
nav a {
	background-color: #f44708;
	padding: 5px;
	border-radius: 5px;
	color: #251605;
}
a:hover {
	background-color: #ff8356;
}
#kartta {
	height: 400px;
	background-color: #f6f4f3;
	margin: 40px;
	border-radius: 15px;
}
#teksti {
	margin: 40px;
	background-color: #f6f4f3;
	border-radius: 15px;
	text-align: center;
	padding: 10px;
	font-size: large;
}
button {
	margin: 15px;
	font-family: "Josefin Sans", sans-serif;
	font-size: medium;
	padding: 5px;
	border-radius: 15px;
}
button:hover {
	background-color: #ff8356;
	color: #251605;
}