/* Tehnyt: Jere, Päivitetty: 3.10.2022 */

/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Yeseva One', cursive;*/

body {
	font-family: "Josefin Sans", sans-serif;
}
h1{
	font-family: "Yeseva One", cursive;
}
