/* Tehnyt: Jere, Päivitetty: 3.10.2022, Atte päivitti 5.10. */
/* Muokattu 9.10.2022 ^Juho */
body {
	background-color: #379b37;
}
article {
	margin: 10px;
	background-color: #f6f4f3;
	border-radius: 15px;
}
header {
	background-image: url(../img/headeri.jpg);
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	text-align: center;
	background-color: #00a7e1;
	padding: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
h1 {
	font-size: 42px;
	border-radius: 15px;
	padding: 5px;
	background: rgba(95, 124, 241, 0.4);
	display:inline-block;
	margin: 0;
	position: relative;
	top: 70%;
	color: black;

}
nav {
	text-align: center;
	background-color: #f6f4f3;
	padding: 25px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
nav a {
	background-color: #FE4A49;
	padding: 15px;
	margin: 10px ;
	border-radius: 5px;
	color: #251605;
}
a:hover {
	background-color: #ff8356;
}
div {
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
	background-color: #f6f4f3;
}
div p {
	width: 50%;
	margin: 10px;
	
}
div img {
	margin: 10px;
}
section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
@media only screen and (max-width: 768px){
	header {
		height: 150px;
	}
	h1 {
		margin: 0;
	position: relative;
	top: 60%;
	}
	
}
@media only screen and (max-width: 1330px) and (min-width: 768px){
	header {
		height: 175px;
	}
	h1 {
		margin: 0;
	position: relative;
	top: 60%;
	}
}
@media only screen and (max-width: 550px){
	nav {
		display: flex;
		flex-direction: column;
		padding: 5px;
	}
	nav a {
		margin: 2px;
		padding: 5px;
	}
	header {
		height: 150px;
	}
	h1 {
		margin: 0;
		position: relative;
		top: 30%;
	}
}