/* Tehnyt: Jere, Päivitetty: 3.10.2022 */
body {
	background-color: #688E26;
}
header {
	width: 100%;
	text-align: center;
	background-color: #00a7e1;
	padding: 10px;
}
nav {
	width: 100%;
	text-align: center;
	background-color: #f6f4f3;
	padding: 10px;
}
nav a {
	background-color: #f44708;
	padding: 5px;
	border-radius: 5px;
	color: #251605;
}
div {
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
	background-color: #f6f4f3;
}
div p {
	width: 50%;
	margin: 10px;
}
div img {
	margin: 10px;
}