/* Tehnyt: Jere, Päivitetty: 3.10.2022, Atte päivitti 5.10. */
/* Muokattu 9.10.2022 ^Juho */
body {
	background-color: #379b37;
}
header {
	background-image: url(../img/headeri.jpg);
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	text-align: center;
	background-color: #00a7e1;
	padding: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
nav {
	text-align: center;
	background-color: #f6f4f3;
	padding: 25px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
nav a {
	background-color: #FE4A49;
	padding: 15px;
	margin: 10px ;
	border-radius: 5px;
	color: #251605;
}
a:hover {
	background-color: #ff8356;
}
div {
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
	background-color: #f6f4f3;
}
div p {
	width: 50%;
	margin: 10px;
	
}
div img {
	margin: 10px;
}
main {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
	background-color: #f6f4f3;
	border-radius: 15px;
}